<a href="https://colab.research.google.com/github/Dummyan/data_science_bootcamp/blob/main/02_analiza_danych/01_pandas.intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.__version__

'1.3.5'

### podstawowe struktury danych: pd.Series

In [ ]:
s = pd.Series(data=[3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [ ]:
s = pd.Series(data=[3, 2, 4, 6], index=['a', 'b', 'c', 'd'])
s

a    3
b    2
c    4
d    6
dtype: int64

In [ ]:
s = pd.Series(data=[3, 2, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [ ]:
s = pd.Series(data=[3., 2, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [2]:
import numpy as np

np.nan

nan

In [ ]:
s = pd.Series(data=[3., np.nan, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [ ]:
s = pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [ ]:
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20230101', periods=10))
s

2023-01-01    10
2023-01-02    11
2023-01-03    12
2023-01-04    13
2023-01-05    14
2023-01-06    15
2023-01-07    16
2023-01-08    17
2023-01-09    18
2023-01-10    19
Freq: D, dtype: int64

In [ ]:
s = pd.Series(data=['python', 'java', 'sql'], name='languages')

In [ ]:
s.index

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
list(s.index)

[Timestamp('2023-01-01 00:00:00', freq='D'),
 Timestamp('2023-01-02 00:00:00', freq='D'),
 Timestamp('2023-01-03 00:00:00', freq='D'),
 Timestamp('2023-01-04 00:00:00', freq='D'),
 Timestamp('2023-01-05 00:00:00', freq='D'),
 Timestamp('2023-01-06 00:00:00', freq='D'),
 Timestamp('2023-01-07 00:00:00', freq='D'),
 Timestamp('2023-01-08 00:00:00', freq='D'),
 Timestamp('2023-01-09 00:00:00', freq='D'),
 Timestamp('2023-01-10 00:00:00', freq='D')]

In [ ]:
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [ ]:
s.dtypes

dtype('int64')

In [ ]:
s.shape

(10,)

In [2]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900})
price

Apple          200
CD Projekt      60
Amazon        1900
dtype: int64

In [3]:
price['CD Projekt']

60

In [4]:
price[1]

60

In [5]:
price.count()

3

In [6]:
price.value_counts()

200     1
60      1
1900    1
dtype: int64

In [7]:
price.sum()

2160

In [8]:
price.min()

60

In [9]:
price.max()

1900

In [10]:
price.std()

1024.3046421841502

In [11]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [12]:
price.describe().T

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [15]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900, 'KGHM': np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [16]:
price.count()

3

In [17]:
price.value_counts()

200.0     1
60.0      1
1900.0    1
dtype: int64

In [18]:
price.value_counts(dropna=False)

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

In [19]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [21]:
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [22]:
price.nsmallest(1)

CD Projekt    60.0
dtype: float64

In [23]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [24]:
price.sort_values()

CD Projekt      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [26]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [27]:
price.apply(lambda x: x * 3.8)

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

In [28]:
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [29]:
price_pln = price.apply(lambda x: x * 3.8)

In [30]:
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

### Podstawowe struktury danych: pd.DataFrame

In [3]:
df = pd.DataFrame(data=[12, 12, 32])
df

    0
0  12
1  12
2  32

In [4]:
df = pd.DataFrame(data=[12, 12, 32], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [6]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN', 'PKO BP'], 'mWIG40': ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [9]:
df = pd.DataFrame(data=[[12, 12, 32], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      12     12     32
second     23     12     10

In [10]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [11]:
df.index

Index(['first', 'second'], dtype='object')

In [12]:
df.values

array([[12, 12, 32],
       [23, 12, 10]])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 172.0+ bytes

In [14]:
df.describe()

           col_1  col_2      col_3
count   2.000000    2.0   2.000000
mean   17.500000   12.0  21.000000
std     7.778175    0.0  15.556349
min    12.000000   12.0  10.000000
25%    14.750000   12.0  15.500000
50%    17.500000   12.0  21.000000
75%    20.250000   12.0  26.500000
max    23.000000   12.0  32.000000

In [15]:
df.describe().T

       count  mean        std   min    25%   50%    75%   max
col_1    2.0  17.5   7.778175  12.0  14.75  17.5  20.25  23.0
col_2    2.0  12.0   0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  21.0  15.556349  10.0  15.50  21.0  26.50  32.0

Selekcja kolumn

In [16]:
df

        col_1  col_2  col_3
first      12     12     32
second     23     12     10

In [17]:
df['col_1']

first     12
second    23
Name: col_1, dtype: int64

In [18]:
type(df['col_1'])

pandas.core.series.Series

In [19]:
df[['col_1']]

        col_1
first      12
second     23

In [20]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [22]:
df.columns = ['a', 'b', 'c']
df

         a   b   c
first   12  12  32
second  23  12  10

In [23]:
df.a

first     12
second    23
Name: a, dtype: int64

In [27]:
df.columns = ['a', 'sprzedaz_grudzien', 'c']
df

         a  sprzedaz_grudzien   c
first   12                 12  32
second  23                 12  10

In [28]:
df.sprzedaz_grudzien

first     12
second    12
Name: sprzedaz_grudzien, dtype: int64

In [29]:
df['d'] = df.a + df.c
df

         a  sprzedaz_grudzien   c   d
first   12                 12  32  44
second  23                 12  10  33

In [30]:
df = pd.DataFrame(data=[[12, 12, 32], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      12     12     32
second     23     12     10

In [31]:
df.loc['first']

col_1    12
col_2    12
col_3    32
Name: first, dtype: int64

In [34]:
df.iloc[0]

col_1    12
col_2    12
col_3    32
Name: first, dtype: int64

In [36]:
df.loc['first', 'col_2']

12

In [37]:
df.loc[:, 'col_2']

first     12
second    12
Name: col_2, dtype: int64

In [38]:
df.iloc[0, 1]

12